In [1]:
import os
# 手动生成一个csv文件
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [48]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [50]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2] # 各行的第一列、第二列作为输入feature， 最后一列最为输出目标target
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0        True      False
1       2.0       False       True
2       4.0       False       True
3       3.0       False       True

In [25]:
import torch
X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.

### problem 1 删除缺失值最多的列

In [54]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [55]:
# 删除缺失值最多的列
col_name = ['NumRooms','Alley','Price']
count_max = 0
max_nan_col = ''
for name in col_name:
    count = data[name].isna().sum() # 当前列的缺失值个数
    if count > count_max:
        count_max = count
        max_nan_col = name
data_new = data.drop(max_nan_col,axis=1)
data_new

   NumRooms   Price
0       NaN  127500
1       2.0  106000
2       4.0  178100
3       NaN  140000

In [64]:
# 处理缺失值（平均值填充）
inputs, outputs = data_new.iloc[:, 0], data_new.iloc[:, 1]
inputs = inputs.fillna(inputs.mean())
inputs

0    3.0
1    2.0
2    4.0
3    3.0
Name: NumRooms, dtype: float64

In [63]:
# 转成tensor
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([3., 2., 4., 3.], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))